<!DOCTYPE html>
<html lang ="de">
	<head>
		<title>Hendrik Kirchhoff Homepage</title>
		<meta charset = "utf-8">
		<meta name = "viewport" content = "width= device-width, initial-scale = 1.0">
		<link rel="stylesheet" href="styles/style.css">
		
	</head>
	<body>
		<div class="wrapper">
			<header>
				<h1>Hendrik Kirchhoff</h1>
				
			</header>
			<main>
				<nav class="side">
					<h3>
						<a href="content/contact.html">Hendrik<br>Kirchhoff</a>
					</h3>
					<ul>
						<li>
							<a href="main.html">Start</a>
						</li>
						<li>
							<a href="content/lebenslauf.html">Lebenslauf</a>
						</li>
						<li>
							<a href="content/seite3.html">Arbeitszeugnisse</a>
						</li>
						<li>
							<a href="content/seite4.html">Skills</a>
						</li>
						<li>
							<a href="content/seite5.html">Softskills</a>
						</li>
						<li>
							<a href="content/seite6.html">Arbeitsproben</a>
						</li>
					</ul>
					<ul>
						<li>
							<a href="content/contact.html">Kontakt</a>
						</li>
						<li>
							<a href="content/impressum.html">Impressum</a>
						</li>
					</ul>
				</nav><nav class="top">
					<ul>
						<li>
							<a href="main.html">Start</a>
						</li>
						<!-- <li>
							<a href="content/seite2.html">Seite 2</a>
						</li> -->
					</ul>
				</nav>
				<section>				
					<article class="profil">
						<h1>Hendrik Kirchhoff</h1>
						<p>Fachinformatiker für Anwendungsentwicklung</p>
						<h2>Das bin ich:</h2>
						<p>blabla
						</p>
					</article>
					<figure>
						<img src="images/sketch-3064402_1280.png" alt="ich" >
					</figure>
				</section>
			</main>
		
		</div>
	</body>
</html>	